html {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
}

.cuerpo {
    max-width: 100%;
    max-height: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50vw;
    transition: background-image 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contenedor {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tiempo {
    opacity: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 50vw;
    height: 60vw;
    max-height: 500px;
}

.tiempo:hover {
    transition: 1s ease-in-out;
    opacity: 100%;
}

.tiempo:not(:hover) {
    transition: 1s ease-in-out;
    opacity: 50%;
}

.paisYciudad {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    font-family: quicksand;
    background-color: black;
    color: aqua;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid aqua;
    border-radius: 30px;
    height: 8vh;
    width: 100%;
    font-size: 3vw;
}

.informacionGeneralTiempo {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    font-family: quicksand;
    background-color: black;
    color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid aqua;
    border-radius: 30px;
    width: 100%;
    font-size: 2vw;
}

.enunciado {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    font-family: quicksand;
    font-size: 2vw;
    background-color: black;
    color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid aqua;
    border-radius: 30px;
    width: 75%;
    height: 9%;
}

.previsiones {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: black;
    color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid aqua;
    border-radius: 30px;
    word-spacing: 10px;
    width: 100%;
    height: 15%;
    min-height: 50px;
    font-size: 1.5vw;
    white-space: nowrap;
    overflow-x: auto;
}

.previsionesParrafo1 {
    position: relative;
    left: 60vw;
    word-spacing: 0.5vw;
    margin: 0px;
    padding-right: 10px;
}

.previsionesParrafo2 {
    position: relative;
    left: 60vw;
    word-spacing: 7vw;
    margin: 0px;
}

.containerBotones {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: black;
    border: 2px solid aqua;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 7%;
    right: 6%;
    height: 6%;
    min-height: 40px;
    width: 15%;
}

.htmlReloj {
    border: none;
    font-size: 1.5vw;
    background: none;
    color: aqua;
    cursor: pointer;
}

.htmlReloj:hover {
    scale: 1.3;
}

.htmlPassword {
    border: none;
    cursor: pointer;
    font-size: 1.5vw;
    background: none;
    color: aqua;
    cursor: pointer;
}

.htmlPassword:hover {
    scale: 1.3;
}

.htmlLinks {
    border: none;
    cursor: pointer;
    font-size: 1.5vw;
    background: none;
    color: aqua;
    cursor: pointer;
}

.htmlLinks:hover {
    scale: 1.3;
}

.htmlIndex {
    border: none;
    font-size: 1.5vw;
    background: none;
    color: aqua;
    cursor: pointer;
}

.htmlIndex:hover {
    scale: 1.3;
}